@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
  background-color: #fffdfb;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-option-container {
  position: fixed;
  top: 1em;
  right: 1em;
}

input[type="checkbox"] {
  display: none;
}

.sound-option-container label {
}

.clock-body {
  width: 35em;
  height: 35em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) -5px 12px 8px;
  position: relative;
}

.clock-bg-text {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 1em;
  font-family: "Caveat", cursive;
  font-size: 2.75em;
  transform-origin: 0%;
  transform: rotate(-10deg);
}

.clock-bg-text p {
  margin: 0;
}

.clock-bg-numbers {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  font-family: "Caveat", cursive;
}

.clock-bg-number-0,
.clock-bg-number-5,
.clock-bg-number-4,
.clock-bg-number-9,
.clock-bg-number-8,
.clock-bg-number-2,
.clock-bg-number-3,
.clock-bg-number-7,
.clock-bg-number-6,
.clock-bg-number-1 {
  position: absolute;
}

.clock-bg-number-0 {
  font-size: 8em;
  bottom: 25%;
  right: 10%;
}

.clock-bg-number-5 {
  font-size: 9em;
  bottom: 30%;
  right: 18%;
  transform: rotate(1deg);
}

.clock-bg-number-4 {
  font-size: 7em;
  bottom: 9%;
  right: 15%;
  transform: rotate(-71deg);
}

.clock-bg-number-9 {
  font-size: 9em;
  bottom: 21%;
  right: 27%;
  transform: rotate(7deg);
}

.clock-bg-number-8 {
  font-size: 8em;
  bottom: -1%;
  right: 25%;
  transform: rotate(16deg);
}

.clock-bg-number-2 {
  font-size: 8em;
  bottom: 10%;
  right: 33%;
  transform: rotate(-10deg);
}

.clock-bg-number-3 {
  font-size: 10em;
  bottom: -12%;
  right: 40%;
  transform: rotate(-18deg);
}

.clock-bg-number-7 {
  font-size: 7em;
  bottom: 8%;
  left: 43%;
  transform: rotate(15deg);
}

.clock-bg-number-6 {
  font-size: 9em;
  bottom: -22%;
  left: 40%;
  transform: rotate(275deg);
}

.clock-bg-number-1 {
  font-size: 8em;
  bottom: -5%;
  left: 31%;
  transform: rotate(350deg);
}

.clock-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 2em;
  box-sizing: border-box;
}
.hour-hand,
.minute-hand,
.second-hand,
.center-wheel {
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 35%;
  height: 0.5em;
  left: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 6px;
  transform-origin: 86%;
}

.minute-hand {
  width: 50%;
  height: 0.5em;
  left: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 6px;
  transform-origin: 90.2%;
}

.second-hand {
  width: 60%;
  height: 0.25em;
  left: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 8px;
  transform-origin: 75%;
}

.center-wheel {
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
